@media screen and (max-width: 650 px){
  .inside {
    display: flex;
    flex-direction: row;
		align-items: center;
    width: 100%;
  }

  .inside header,
		nav {
    order: 0;
    width: 100%;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  header #breadcrumb {
    order: 1;
    width: 100%;
    text-align: center;
  }

  .inside #map-container {
    order: 2;
    width: 100%;
    height: 325px;
    align-self: center;
		position: relative;
  }


  .inside #restaurant-container {
    order: 3;
    position: relative;
    width: 100%;
    text-align: center;
  }

  .inside #footer {
    order: 4;
    width: 100%;
  }
  
}
