@media screen and (max-width: 650px){
  .inside {
    display: flex;
    flex-direction: row;
		align-items: center;
    width: 100%;
  }

  .inside header,
		nav {
    order: 0;
    width: 100%;
  }

  header {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  header #breadcrumb {
    order: 1;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    text-align: center;
  }

  .inside #map-container {
    order: 2;
    top: 130px;
    width: 100%;
    height: 325px;
    align-self: center;
		position: relative;
  }

  .inside #restaurant-container {
    order: 3;
    position: relative;
    width: 100%;
    padding: 150px 0 0 0;
    text-align: center;
    justify-content: center;
    margin: auto;
  }

  .inside #reviews-container {
    padding: 5px;
	  width: 100px;
  }

  .inside #footer {
    order: 4;
    width: 100%;
    padding: 10px 0 0 0;
  }

  .inside #reviews-list{
    width: 100%;
  }

}
